{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tblgrupo</h1>

    <table>
        <tbody>
            <tr>
                <th>Intidgrupo</th>
                <td>{{ tblgrupo.intidgrupo }}</td>
            </tr>
            <tr>
                <th>Strnombre</th>
                <td>{{ tblgrupo.strnombre }}</td>
            </tr>
            <tr>
                <th>Dtmcreacion</th>
                <td>{% if tblgrupo.dtmcreacion %}{{ tblgrupo.dtmcreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Strcreacion</th>
                <td>{{ tblgrupo.strcreacion }}</td>
            </tr>
            <tr>
                <th>Dtmactualizacion</th>
                <td>{% if tblgrupo.dtmactualizacion %}{{ tblgrupo.dtmactualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Stractualizacion</th>
                <td>{{ tblgrupo.stractualizacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tblgrupo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tblgrupo_edit', { 'id': tblgrupo.intidgrupo }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
