{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tblgrupoestudiantes list</h1>

    <table>
        <thead>
            <tr>
                <th>Intidgrupoestudiante</th>
                <th>Dtmcreacion</th>
                <th>Strcreacion</th>
                <th>Dtmactualizacion</th>
                <th>Stractualizacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tblgrupoestudiante in tblgrupoestudiantes %}
            <tr>
                <td><a href="{{ path('tblgrupoestudiante_show', { 'id': tblgrupoestudiante.intidgrupoestudiante }) }}">{{ tblgrupoestudiante.intidgrupoestudiante }}</a></td>
                <td>{% if tblgrupoestudiante.dtmcreacion %}{{ tblgrupoestudiante.dtmcreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tblgrupoestudiante.strcreacion }}</td>
                <td>{% if tblgrupoestudiante.dtmactualizacion %}{{ tblgrupoestudiante.dtmactualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tblgrupoestudiante.stractualizacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tblgrupoestudiante_show', { 'id': tblgrupoestudiante.intidgrupoestudiante }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tblgrupoestudiante_edit', { 'id': tblgrupoestudiante.intidgrupoestudiante }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tblgrupoestudiante_new') }}">Create a new tblgrupoestudiante</a>
        </li>
    </ul>
{% endblock %}
