{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tblroledocentes list</h1>

    <table>
        <thead>
            <tr>
                <th>Intidroledocente</th>
                <th>Dtmcreacion</th>
                <th>Strcreacion</th>
                <th>Dtmactualizacion</th>
                <th>Stractualizacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tblroledocente in tblroledocentes %}
            <tr>
                <td><a href="{{ path('tblroledocente_show', { 'id': tblroledocente.intidroledocente }) }}">{{ tblroledocente.intidroledocente }}</a></td>
                <td>{% if tblroledocente.dtmcreacion %}{{ tblroledocente.dtmcreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tblroledocente.strcreacion }}</td>
                <td>{% if tblroledocente.dtmactualizacion %}{{ tblroledocente.dtmactualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tblroledocente.stractualizacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tblroledocente_show', { 'id': tblroledocente.intidroledocente }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tblroledocente_edit', { 'id': tblroledocente.intidroledocente }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tblroledocente_new') }}">Create a new tblroledocente</a>
        </li>
    </ul>
{% endblock %}
