{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tblroledocente</h1>

    <table>
        <tbody>
            <tr>
                <th>Intidroledocente</th>
                <td>{{ tblroledocente.intidroledocente }}</td>
            </tr>
            <tr>
                <th>Dtmcreacion</th>
                <td>{% if tblroledocente.dtmcreacion %}{{ tblroledocente.dtmcreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Strcreacion</th>
                <td>{{ tblroledocente.strcreacion }}</td>
            </tr>
            <tr>
                <th>Dtmactualizacion</th>
                <td>{% if tblroledocente.dtmactualizacion %}{{ tblroledocente.dtmactualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Stractualizacion</th>
                <td>{{ tblroledocente.stractualizacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tblroledocente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tblroledocente_edit', { 'id': tblroledocente.intidroledocente }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
